<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>

<body>
    <header>
        <%- include('partials/portada',{titulo:"Que me vaya bien"}); %>
    </header>
    <div class="container">
        <h1>PRODUCTOS</h1>
        <%  if( typeof data == "object" && data.length > 0){%>
        <table style="text-align: center;" class="table table-dark table-striped">
            <thead>
                <tr>

                    <th scope="col">Id</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                </tr>
            </thead>
            <tbody>


                <%  data.forEach(function(pr){%>
                <tr>
                    <td> <%= pr.id  %></td>
                    <td> <%= pr.timestamp  %></td>
                    <td> <%= pr.name  %></td>
                    <td> <%= pr.description  %></td>
                    <td> <%= pr.codigo  %></td>
                    <td> <img src="<%= pr.urlFoto  %>" class="img-fluid" alt="..."
                        style="max-width: 50px; max-height: 50px;"> </td>
                    <td> $ <%= pr.price  %></td>
                    <td> <%= pr.stock  %></td>
                    
                </tr>
                <% })%>

            </tbody>
        </table>
        <% }else{ %>
        <h2> No se encontraron productos </h2>
        <% }%>
    </div>

</body>

</html>